---
import { PostCard } from '@components/index.astro';
import MainLayout from '@layouts/MainLayout.astro';
import { Icon } from 'astro-icon';

import CategoryAside from '@components/CategoryAside.jsx';

import {
  organizeAllPosts,
  slugify,
  multiCategoryHandler,
  getAllCategoryList
} from '@utils/index.js';

// 動態產生 category 列表
export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.mdx');
  const allCategory = [
    ...new Set(allPosts.map((p) => multiCategoryHandler(p.frontmatter.category)).flat()),
    'all'
  ];

  return allCategory.map((c) => ({
    params: { category: slugify(c) },
    props: { name: c }
  }));
}

// 動態頁面資訊
const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await Astro.glob('../posts/*.mdx');
const organizedAllPosts = organizeAllPosts(allPosts, {
  category: category === 'all' ? null : category
});

const categoryList = getAllCategoryList(allPosts);
console.log('🚀 ~ categoryList:', categoryList);
---

<MainLayout title="category page" description="文章分類頁" hasFooter={false}>
  <section class="flex h-[calc(100vh_-_81px)]" aria-label="New Blog Posts">
    <CategoryAside name={name} categoryList={categoryList} client:load />
    <div id="horizontal-box" class="overflow-x-scroll px-10 flex items-center">
      <div class="flex gap-5 items-center">
        {
          organizedAllPosts.map((p) => (
            <PostCard frontmatter={p.frontmatter} url={p.url} optionalClass="w-[384px] h-[451px]" />
          ))
        }
      </div>
    </div>
  </section>
</MainLayout>

<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline>
  AOS.init({
    duration: 900
  });
</script>
<script>
  // turn vertical scroll to horizontal
  const horizontalBox = document.querySelector('#horizontal-box');
  horizontalBox.addEventListener('wheel', function (e: WheelEvent) {
    e.preventDefault();
    this.scrollLeft += e.deltaY + e.deltaX;
  });
</script>
