---
// component imports
import MainLayout from '@layouts/MainLayout.astro';
import { Image } from '@astrojs/image/components';
import { commonDayFormatter, organizeAllPosts } from '@utils/index';

const allPosts = await Astro.glob('../pages/posts/*.mdx');

const latestPost = organizeAllPosts(allPosts, { limit: 1 }).at(0);
const {
  date: latestPostDate,
  title: latestPostTitle,
  description: latestDescription
} = latestPost.frontmatter;
---

<MainLayout title="Shozzle">
  <div class="pt-10">
    <div class="w-fit typewriter relative left-2/4 -translate-x-2/4 mb-10">
      <h1 class="text-sm lg:text-xl font-orbitron font-normal">
        Shozzle, a frontend <span class="hidden sm:inline">Technology Sharing</span> Blog.
      </h1>
    </div>
  </div>
  <div class="">
    <Image
      src="/images/home.jpg"
      alt="Shozzle"
      width={1000}
      height={undefined}
      aspectRatio={5 / 2}
      format="avif"
      class="w-full max-w-[1200px] mx-auto opacity-90"
    />
  </div>
  <!-- 最新一篇文 -->
  <div class="sm:max-w-[1200px] max-w-[300px] mx-auto sm:-mt-[15vh]">
    <a
      href={latestPost.url}
      class="block relative w-fit max-w-[520px] !bg-white p-10 z-1 shadow-lg hover:-translate-y-3 transition duration-700"
    >
      <div>
        <small>{commonDayFormatter(latestPostDate)}</small>
      </div>
      <h3 class="mb-4">{latestPostTitle}</h3>
      <p class="text-sm">{latestDescription}</p>
    </a>
  </div>
</MainLayout>
