---
import { slugify } from '@utils/index.js';

const { authorData } = Astro.props;

const url = `/author/${slugify(authorData.name)}`;
---

<div class="min-w-[300px]" data-aos="fade-up">
  <div class="relative pl-10">
    <p class="absolute right-5 -top-4 font-bold text-xl">{authorData.position}</p>
    <a class="py-6 w-full flex items-center bg-soft hover:bg-emphasize" href={url}>
      <div class="-ml-11 w-20 h-20">
        <img class="w-full h-full grayscale brightness-90" src={authorData.avatar_square} />
      </div>
      <div class="px-5 w-[calc(100%-2.25rem)] h-20 flex flex-col justify-between">
        <p class="text-lg font-bold">{authorData.name}</p>
        <p class="text-xs">{authorData.skills.join(', ')}</p>
      </div>
    </a>
  </div>
</div>
