---
import { slugify } from '@utils/index.js';

const { relatedPosts } = Astro.props;
---

{
  relatedPosts.map((post) => {
    const { title, author, category } = post.frontmatter;
    return (
      <div class="post related-post">
        <p>
          <a href={post.url}>{title}</a>
        </p>
        <small>
          <a href={`/category/${slugify(category)}`}>{category}</a>
        </small>
        <small>-</small>
        <small>
          <a href={`/author/${slugify(author)}/`}>{author}</a>
        </small>
      </div>
    );
  })
}
