---
// style
import '../style/global.sass';
// import '../style/global.css';
import '../../node_modules/github-markdown-css/github-markdown-light.css'

import { CategoryCloud, PostHeader, RelatedPosts } from '@components/index.astro';
import MainLayout from './MainLayout.astro';
import { organizeAllPosts } from '@utils/index';

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;

const allPosts = await Astro.glob('../pages/posts/*.md');
// FIXME: 加上 category 卻無法正確篩出
const relatedPosts = organizeAllPosts(allPosts, { author, limit: 2, sortByDate: false }).filter(
  (post) => post.frontmatter.title !== title
);
---

<MainLayout {title} {description}>
  <div class='post-content container'>
    <div class='content'>
      <PostHeader {title} {description} {date} {category} {image} {author} />
      <div class='markdown-body'>
        <slot />
      </div>
    </div>
    <div class='sidebar'>
      <aside class='' aria-label='Blog categories'>
        <h2 class='h3'>Blog Categories</h2>
        <CategoryCloud />
      </aside>
      <aside class='' aria-label='Related posts'>
        <h2 class='h3'>Related Posts</h2>
        {relatedPosts.length > 0 ? <RelatedPosts {relatedPosts} /> : '該作者沒有相關文章 都在混!'}
      </aside>
    </div>
  </div>
</MainLayout>
