---
// style
import '../style/global.css';

import { CategoryCloud, PostHeader, RelatedPosts } from '@components/index.astro';
import MainLayout from './MainLayout.astro';
import { organizeAllPosts } from '@utils/index';

const { frontmatter } = Astro.props;
// console.log(frontmatter);

const { title, description, date, category, author, image } = frontmatter;
// console.log('ðŸš€ ~ category:', category);
// console.log('ðŸš€ ~ author:', author);

const allPosts = await Astro.glob('../pages/posts/*.md');
// FIXME: åŠ ä¸Š category å»ç„¡æ³•æ­£ç¢ºç¯©å‡º
const relatedPosts = organizeAllPosts(allPosts, { author, limit: 2, sortByDate: false }).filter(
  (post) => post.frontmatter.title !== title
);
---

<MainLayout>
  <PostHeader {title} {description} {date} {category} {image} {author} />
  <div class='post-content'>
    <div class='content'>
      <slot />
    </div>
    <div class='sidebar'>
      <aside class='container' aria-label='Blog categories'>
        <h2 class='h3'>Blog Categories</h2>
        <CategoryCloud />
      </aside>

      <aside class='container' aria-label='Related posts'>
        <h2 class='h3'>Related Posts</h2>
        {relatedPosts.length > 0 ? <RelatedPosts {relatedPosts} /> : 'è©²ä½œè€…æ²’æœ‰ç›¸é—œæ–‡ç«  éƒ½åœ¨æ··!'}
      </aside>
    </div>
  </div>
</MainLayout>
