---
// style
import '../style/global.sass';
import '../style/github-markdown-light.css';
// components
import ReadingProgress from '@components/ReadingProgress.jsx';

import { CategoryCloud, PostHeader, RelatedPosts, TOC } from '@components/index.astro';
import MainLayout from './MainLayout.astro';
import { organizeAllPosts } from '@utils/index';

const { frontmatter, headings } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;

const allPosts = await Astro.glob('../pages/posts/*.mdx');
// FIXME: 加上 category 卻無法正確篩出
const relatedPosts = organizeAllPosts(allPosts, { author, limit: 2, sortByDate: false }).filter(
  (post) => post.frontmatter.title !== title
);
---

<MainLayout {title} {description}>
  <div class="post-content">
    <div class="content">
      <PostHeader {title} {description} {date} {category} {image} {author} />
      <div class="markdown-body">
        <slot />
      </div>
    </div>
    <div class="sidebar">
      <aside class="" aria-label="anchor">
        <h3 class="font-semibold mb-3">Anchor</h3>
        <TOC pageHeadings={headings} />
        <!-- <small> TODO: 文章 Heading Links</small> -->
      </aside>
      <aside class="" aria-label="Blog categories">
        <h3 class="font-semibold mb-3">Categories</h3>
        <CategoryCloud />
      </aside>
      <aside class="" aria-label="Related posts">
        <h3 class="font-semibold mb-3">Related Posts</h3>
        {
          relatedPosts.length > 0 ? (
            <RelatedPosts {relatedPosts} />
          ) : (
            <small>該作者沒有其他相關文章 都在混!</small>
          )
        }
      </aside>
      <aside class="" aria-label="Reading progresser">
        <h3 class="font-semibold mb-3">Reading progresser</h3>
        <ReadingProgress client:load />
      </aside>
    </div>
  </div>
</MainLayout>
