---
// style
import '../style/global.sass';
import '../style/github-markdown-light.css';
// components
import ReadingProgress from '@components/ReadingProgress.jsx';

import { CategoryCloud, PostHeader, RelatedPosts, TOC } from '@components/index.astro';
import MainLayout from './MainLayout.astro';
import GiscusComment from '../components/GiscusComment.astro';
import { organizeAllPosts, slugify, multiCategoryHandler } from '@utils/index';

const { frontmatter, headings } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
const categoryList = multiCategoryHandler(category);

const allPosts = await Astro.glob('../pages/posts/**/*.mdx');
// FIXME: 加上 category 卻無法正確篩出
const relatedPosts = organizeAllPosts(allPosts, {
  category: slugify(category),
  limit: 2,
  sortByDate: false
}).filter((post) => post.frontmatter.title !== title);

// 更改headings array的結構
const nestedHeadings = (headingParam) => {
  return headingParam.reduce((result, heading) => {
    const last = result[result.length - 1];
    if (heading.depth === 2) {
      result.push({ ...heading, children: [] });
    } else {
      last.children.push({ ...heading, children: [] });
    }
    return result;
  }, []);
};
---

<MainLayout {title} {description}>
  <ReadingProgress client:load />
  <div class="py-10">
    <div class="post-content">
      <div class="content">
        <PostHeader {title} {description} {date} {category} {image} {author} />
        <div class="markdown-body">
          <slot />
        </div>
        <GiscusComment />
      </div>
      <div
        class="sticky top-10 h-fit max-w-[368px] p-4 flex flex-1 gap-4 flex-col border border-l-secondary"
      >
        <aside class="hidden md:block" aria-label="anchor">
          <h3 class="font-semibold mb-3">Anchor</h3>
          <TOC pageHeadings={nestedHeadings(headings)} />
          <!-- <small> TODO: 文章 Heading Links</small> -->
        </aside>
        <aside class="" aria-label="Blog categories">
          <h3 class="font-semibold mb-3">Categories</h3>
          <CategoryCloud categoryList={categoryList} />
        </aside>
        <aside class="" aria-label="Related posts">
          <h3 class="font-semibold mb-3">Related Posts</h3>
          {
            relatedPosts.length > 0 ? (
              <RelatedPosts {relatedPosts} />
            ) : (
              <small>該作者沒有其他相關文章 都在混!</small>
            )
          }
        </aside>
      </div>
    </div>
  </div>
</MainLayout>
